.coursework {
    margin: 50px 0px 15px 0px;
    text-align: justify;
}

.university-img-portrait {
    margin: 20px 0px 10px 100px;
    width: 250px;
    height: 300px;
}
  
.university-img {
    margin: 20px 0px 30px 0px;
    width: 400px;
    height: 300px;
}