.coursework {
    margin: 50px 0px 15px 0px;
    text-align: justify;
}

.university-img-portrait {
    margin: 20px 0px 30px 0px;
    width: 400px;
    height: 475px;
}
  
.university-img {
    margin: 20px 0px 30px 0px;
    width: 400px;
    height: 300px;
}

.education-col {
    padding: 0px !important;
}