.repo-img {
    height: 25px;
    width: 25px;
    margin-left: 5px;
}

.citation {
    font-style: italic;
}

.publication-container {
    margin-top: 10px;
    padding: 0px !important; 
    text-align: justify
}

.publication-name {
    font-weight: bold;
}

.guide {
    font-style: italic;
}

.publication-img {
    width: 420px;
    height: 315px;
    margin: auto;
    border: 1px solid grey;
}

.publication-text {
    margin: 20px 0px 20px 0px;
}