.social-pics-div {
    margin: 30px 0px 30px 0px;
    display: flex;
    align-items: center;
}
  
.social-pics {
    width: 400px;
    height: 415px;
    margin: 10px 30px 5px 0px;
}

.social-heart {
    font-size: x-large; 
    color: red;
}

.social-text {
    text-align: justify;
}