.fakeimg {
  margin-bottom: 1.5%;
}

.theme-slider-container {
  margin-top: 0px !important;
}

.route-outer {
  margin: 0px 0px 30px 0px;
}

#about {
  text-align: justify;
}

.about-class {
  font-size: 18px;
}

.sticky {
  position: sticky;
  top: 0;
  width: 100%;
}

a.text-secondary {
  color: rgb(33, 37, 41) !important;
}

.theme-text {
  color: #C0C0C0;
}

.form-switch .form-check-input:checked {
  background-color: #838996;
}

.dark-mode .navbar {
  background-color: #0e1111 !important;
}

.dark-mode {
  background-color: rgb(33, 37, 41) !important;
  color: #a9a9a9;
}

.dark-mode a.text-secondary {
  color: #C0C0C0 !important;
}

.fakeimg {
  width: 200px;
  border-radius: 50%;
  border: 10px solid #838996;
}

.company-icon {
  width: 30px;
  height: 30px;
}

.button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 1);
}

.trans {
  transition: 0.5s;
}

.left-panel {
  padding: 0px !important;
}

.award {
  width: 450px;
  height: 350px;
  margin: 5px 30px 5px 0px;
}

.awards-div {
  margin: 30px 0px 30px 0px;
}

.top-word {
  color: #C0C0C0;
}

/* .video-container, .paper-container {
  margin: 2vh 0vw 0vh 15vw;
} */

.video-container, .project-img, .project-img-portrait {
  margin: 10px 0px 20px 0px
}

.repo-img {
  height: 25px;
  width: 25px;
  margin-left: 5px;
}

.coursework {
  margin: 50px 0px 15px 0px;
  text-align: justify;
}

.project-content-with-media {
  text-align: justify;
  margin-top: 50px;
}

.project-content-with-media-less-space {
  text-align: justify;
  margin-top: 20px;
}

.project-content {
  text-align: justify;
  margin-bottom: 15px;
}

.work-project-content {
  text-align: justify;
  margin: 10px 0px 20px 0px;
}

.project-img {
  width: 420px;
  height: 315px;
  margin: 20px 0px 20px 0px;
}

.project-img-portrait {
  width: 300px;
  height: 475px;
}

.left-align-media {
  float: left;
}

.right-align-media {
  float: right;
}

.guide-details {
  font-size: small;
}

.university-img-portrait {
  margin: 20px 0px 10px 100px;
  width: 250px;
  height: 300px;
}

.university-img {
  margin: 20px 0px 30px 0px;
  width: 400px;
  height: 300px;
}

.social-pics-div {
  margin: 30px 0px 30px 0px;
}

.social-pics-p {
  width: 425px;
  height: 500px;
  margin: 5px 30px 5px 0px;
}

.social-pics-l {
  width: 475px;
  height: 400px;
  margin: 5px 30px 5px 0px;
}

img:hover {
  transform: scale(1.5);
  transition-duration: 200ms;
}

.no-zoom:hover {
  transform: none;
}

.wave {
  display: inline-block;
  animation-name: wave-animation;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.wave:hover {
  animation-play-state: paused;
}

@keyframes wave-animation {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}

.made-text {
  font-size: large;
}

.heart {
  display: inline-block;
  font-size: x-large; 
  animation: heartbeat-animation 1s infinite;
}

.heart:hover {
  animation-play-state: paused;
}

@keyframes heartbeat-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}