.fakeimg {
  margin-bottom: 1.5%;
  width: 200px;
  border-radius: 50%;
  /* border: 10px solid #838996; */
}

.info-class {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.tab-link {
  cursor: pointer;
}

.theme-slider-container {
  margin-top: 0px !important;
}

.route-outer {
  margin: 0px 0px 30px 0px;
}

.sticky {
  position: sticky !important;
  top: 0;
  width: 100%;
  z-index: 1000;
}

a.text-secondary {
  color: rgb(33, 37, 41) !important;
}

.theme-text {
  color: #C0C0C0;
}

.form-switch .form-check-input:checked {
  background-color: #838996;
}

.dark-mode .navbar {
  background-color: #0e1111 !important;
}

.dark-mode {
  background-color: rgb(33, 37, 41) !important;
  color: #a9a9a9;
}

.dark-mode a.text-secondary {
  color: #C0C0C0 !important;
}

.button:hover {
  opacity: 1;
  background-color: rgba(0, 0, 0, 1);
}

.trans {
  transition: 0.5s;
}

.left-panel {
  padding: 0px !important;
}

.top-word {
  color: #C0C0C0;
}

img:hover {
  transform: scale(1.1);
  transition-duration: 200ms;
}

.no-zoom:hover {
  transform: none;
}

.made-text {
  font-size: large;
}

.heart {
  display: inline-block;
  font-size: x-large; 
  animation: heartbeat-animation 1s infinite;
}

.heart:hover {
  animation-play-state: paused;
}

@keyframes heartbeat-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.heart {
  color: red;
}

.top-container {
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 1001;
  cursor: pointer;
}

.top {
  height: 30px;
  width: 30px;
}

.dark-mode .footer {
  background-color: #0e1111 !important;
}